@charset "UTF-8";

p {
    text-indent: 50px;
    text-align: justify;
}

body {
    background-color: white;
    color: rgba(0,0,0,0.8);
    
}

/* - Formatação de legendas de imagens */

figure.legendasDasFotos {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
    width: 600px;
}

figure.legendasDasFotos img {
    width: 100%;
    height: 100%;
}

figure.legendasDasFotos figcaption {
    /*Opacidade ocultada até pairar o mouse */
    opacity: 0;
    /* Ao pairar o mouse, opacidade aparece em 1s */
    transition: 1s;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, .5);
    color: white;
    width: 100%;
    height: 100%;
    padding: 15px;
    box-sizing: border-box;
}

/* função que faz aparecer a legenda ao pairar o mouse "hover" */
figure.legendasDasFotos:hover figcaption {
    opacity: 1;
}

/* Formatação do nav menu*/

/* Trnasformar layout como bloco para pdoer flutuar em toda tela */
nav#menu {
    display: block;
}

/* Formatação para a lista */
nav#layout ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -15px;
    left: 600px;
}

/* Formatação para os itens da lista */
nav#layout li {
    display: inline-block;
    background-color: #dddddd;
    padding: 10px;
    margin: 3px;
}

/* Esconder item */
nav#layout h1 {
    display: none;
}